@import '../../styles/variables.scss';

.chatWrapper {
  border: 1px solid $gray-700;
  border-left: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .chatWindowWrapper {
    overflow-y: auto;
  }

  .loaderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .chatWindow {
    padding: 8px 16px;
  
    .message {
      word-break: break-all;
    }
  }
}
