@import 'Styles/variables.scss';

.inputWrapper {
  position: relative;
	flex: 1 1 auto;
  .iconLeft {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
  }

  .input {
    height: 32px;
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(235, 235, 235);
    border-width: 1px;
    padding: 0 12px;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }

  .inputWithLeftIcon {
    padding-left: 28px;
  }
}

.fullWidth {
  width: 100%;
}