@import '../../styles/variables.scss';

.advertisementCreateWrapper {
  margin-top: 16px;
  padding: 12px 16px;
  box-shadow: rgba(0, 0, 0, .1) 0px 4px 8px 0px;
  border: 1px solid $gray-300;
  border-radius: 8px;

  .br {
    border-bottom: 1px solid $gray-300;
    margin: 8px 0;
  }
}