@import '../../styles/variables.scss';

.authPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .authBlock {
    justify-content: center;
    width: 300px;
    border: 1px solid $gray-400;
    padding: 16px;
    border-radius: $defaultBorderRadius;
  }
}