$font-weight-base: 400;
$font-weigth-bold: 500;

$gray-100: #ffffff;
$gray-200: rgb(237, 237, 237);
$gray-300: rgb(235, 235, 235);
$gray-400: rgb(204, 204, 204);
$gray-700: rgb(51, 51, 51);
$gray-900: #000000;

$blue-400: rgb(123, 154, 254);
$blue-500: #7092fe;
$blue-700: rgb(31, 84, 255);

$green-400: rgb(129, 197, 55);
$green-500: rgb(119, 192, 38);

$red-400: #EE204D;

$default-box-shadow: rgba(0, 0, 0, .1) 0px 4px 8px 0px;

@mixin ButtonStulesDelete() {
  background-color: none;
  text-align: left;
  display: block;
}

$heightPanel: 100px;

$defaultBorderRadius: 8px;
