@import 'Styles/variables.scss';

.advertisementItem {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: $default-box-shadow;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 270px;

  .advertisementItemImg {
    max-height: 220px;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    
    img {
      max-height: 220px;
      height: 200px;
      width: 100%;
      object-fit: cover;
    }

  }

  .advertisementItemInfo {
    padding: 4px 8px;

    .title {
      color: $gray-700;
      font-size: 16px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 8px 0px;
    }
  }
}