@import 'Styles/variables.scss';

$headerHeigth: 60px;

.header {
  background-color: $gray-100;
  padding: 2px 0;
  height: $headerHeigth;
  z-index: 1000;
  margin-bottom: 20px;
  box-shadow: $default-box-shadow;

  .headerContainer {
    display: flex;
    align-items: center;
  
    & > * {
      margin: 0 16px;
    }
  
    & > *:first-child {
      margin: 0 16px 0 0;
    }
  
    & > *:last-child {
      margin: 0 0 0 16px;
    }
  }

  &.headerFixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, .1) 0px 4px 8px 0px;
  }
}

.headerPlug {
  height: $headerHeigth;
  width: 100%;
  background-color: $gray-100;
  margin-bottom: 20px;
}
