@import 'Styles/variables.scss';

.linksContainer {
  background-color: $gray-300;
  padding: 4px 12px;

  .link {
    font-size: 13px;
    color: $gray-700;
    text-decoration: none;
    padding: 4px 8px;
    height: 28px;

    &:hover {
      background-color: $gray-400;
      border-radius: 4px;
    }
  }
}