@import 'Styles/variables.scss';

.dialogsWrapper {
  min-width: 300px;
  overflow-y: auto;
  border: 1px solid $gray-700;

  .loaderWrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 70%;
  }

  .noDialogs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 26px;
    font-weight: $font-weight-bold;
  }
}