@import '../../../styles/variables.scss';

.navBar {
  background-color: $gray-100;
  padding: 4px 0;

  .navBarContainer {
    display: flex;
    justify-content: space-between;
  }

  .navBarLocation {
    display: flex;
  }

  .location {
    text-decoration: underline;
  }

  .navBarItems {
    display: flex;
  }

  .navBarItem {
    display: flex;

    .navBarItemText {
      text-decoration: underline;
    }
  }
}