.advertisementsContainer {
  margin-top: 32px;

  .noContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }

  .advertisementsRibbon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}

.isRibbonOver {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  font-size: 32px;
  width: 100%;
}